@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.heading {
    background-color: #1f2937;
    
}

.headerbox {
    display: flex;
    gap: 50px;
    justify-content: flex-end;

}

.navbox {
    display: flex;
    color: aliceblue;
   
    justify-content: flex-end;
    border-bottom: 2px solid black;
    padding: 5px;
}


.navlogo {
 margin-right: auto;
 margin-left: 30px;
 size: 24px;
 color: #f9faf8;
}

.navitem {
    margin-right: 30px;
    color: #f9faf8;
}

.headerboxleft {
    display: flex;
    flex-direction: column;
    color: white;
    width: 35%;
    margin: auto;
}

.headertitle {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: inline-block;
}

.headertxt {
    font-size: 18px;
    color: #E5E7EB;
}

.headerboxright {
    align-self: center;
    margin: auto;
}

.headerimg {
    
    width: 350px;
    align-items: flex-end;
}
