@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.heading {
    background-color: #1f2937;
    
}

.headerbox {
    display: flex;
    gap: 50px;
    justify-content: flex-end;

}

.navbox {
    display: flex;
    color: aliceblue;
   
    justify-content: flex-end;
    border-bottom: 2px solid black;
    padding: 5px;
}


.navlogo {
 font-weight: bolder;
 margin-right: auto;
 margin-left: 30px;
 size: 50px;
 color: #f9faf8;
}

.navitem {
    margin-right: 30px;
    color: #f9faf8;
}

.headerboxleft {
    display: flex;
    flex-direction: column;
    color: white;
    width: 35%;
    margin: auto;
}

.headertitle {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    display: inline-block;
}

.headertxt {
    font-size: 18px;
    color: #E5E7EB;
}

.headerboxright {
    align-self: center;
    margin: auto;
}

.headerimg {
    
    width: 350px;
    align-items: flex-end;
}

.headerbtn {
    background-color: lightblue;
    width: 20%;
    flex: 0 0;
}

.addinfo {
    margin: auto;
    padding: 10px;
    width: auto;
    text-align: center;
}

.addinfobox {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.infoimg {
    height: 160px;
    width: 160px;
    border: solid 5px lightblue;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    margin: auto;
}

.quotetxt {
    padding: 10px;
    justify-content: center;
    font-size: 48px;
    font-style: italic;
}

.quotename {
    font-size: large;
    font-weight: bolder;
    align-self: flex-end;
    margin-right: 70px;
}

.footer {
    margin: auto;
   display: flex;
   width: 80%;
   background-color: aqua;
   border-radius: 25px;
}

.ctaheader {
 font-weight: bolder;
 font-size: 30px;
}

.flextxt {
    margin: auto;
    padding: 0%;
}

.ctabtn{
    margin-right: 30px;
    border-radius: 25px;
    background-color: grey;
    color: white;
    align-self: center;
    height: 10%;
    width: 10%;
}

.footlogo {
    background-color: #1f2937;
}

.fttxt {
    margin-left: 300px;
    color: #E5E7EB;
}

.odintxt {
    font-size: larger;
    font-weight: bolder;
}